package component

templ Logo() {
    <span class="drop-shadow-[2px_2px_0px_#1a0b2e]">
        <span class="text-[#9d4edd] drop-shadow-[0_0_8px_#9d4edd]">B</span><span class="text-[#ff006e] drop-shadow-[0_0_8px_#ff006e]">o</span><span class="text-[#00f5d4] drop-shadow-[0_0_8px_#00f5d4]">o</span><span class="text-[#3a86ff] drop-shadow-[0_0_8px_#3a86ff]">g</span><span class="text-[#9d4edd] drop-shadow-[0_0_8px_#9d4edd]">l</span><span class="text-[#ff006e] drop-shadow-[0_0_8px_#ff006e]">e</span>
    </span>
}
